.Wrapper{
    width:15rem;
    height:20rem;
    background-color: lightblue;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    border: 5px solid slateblue;
}

.Calculator{
    padding:2rem;
}

.Calculator input {
    font-size:1.5rem;
    border-radius: 10px;
    width:100%;
    margin-bottom:2rem;
    padding:0;
}

.Numbers {
    display:block;
    width:7rem;
    float:left;
    background-color: slategray;
    border-radius: 10px;
    padding:0.2rem;
    border: 2px solid black;
}

.Buttons button {
    background-color: rgb(0, 0, 0);
    border:0;
    margin:0.1rem;
    border-radius: 20px;
    color:white;
}

.Operators{
    display:flex;
    flex-direction: column;
    float:right;
    padding-top:0.2rem;
}

.Numbers button {
    font-size:1.5rem;
    width:2rem;
}

.Operators button{
    font-size:1.3rem;
    width:2.5rem;
}

.Controls{
    margin-top:1rem;
    display:flex;
    justify-content: space-between;
    width:100%;
    float:left;
    
}



.Controls button{
    font-size:1.3rem;
    width:2.5rem;
}