.Sidebar{
    width: 10rem;
    position:fixed;
    background-color: slateblue;
    z-index: 1;
    left: 0;
    top:5rem;
    overflow-x: hidden;
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius:0 0 30px 0;
    color:white;
    padding-bottom:2rem;
}

.Main{
    margin-left:15rem;
}

.Header{
    border-radius: 0 0 30px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: slateblue;
    margin-left:auto;
    margin-right:auto;
    height: 5rem;
    color:white;
}

.Header p {
    margin:0;
}

.Controls div {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:auto;
    margin-bottom:auto;
}

.Controls button {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
}